@import "_fonts";
@import "_vars";
@import "_global";

.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;

  transition: all 1s;

  &--open {
    opacity: 1;

    .popup__video {
      transform: translateY(0);
    }
  }

  &__video {
    width: 80%;
    height: 80%;
    transform: translateY(-200%);
    transition: all 1s;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 5px;
      background-color: $blue;
      transform: rotate(45deg);
      transition: all .5s
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:focus,
    &:hover {
      outline: transparent;

      &:after,
      &:before {
        background-color: #ffffff;
      }
    }

    &:active {

      &:after,
      &:before {
        background-color: $blue;
      }
    }
  }
}

.header {
  padding-top: 25px;

  &__burger-line {
    display: block;
    width: 50px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    transition: all .5s;
    top: 0;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__burger {
    height: 40px;
    border: none;
    display: none;
    background-color: transparent;
    transition: all .5s;
    margin-bottom: 20px;
    margin-top: 10px;
    cursor: pointer;

    &--active {
      .header__burger-line:nth-child(1) {
        top: 15px;
        transform: rotate(45deg);
      }

      .header__burger-line:nth-child(3) {
        top: -15px;
        transform: rotate(-45deg);
      }

      .header__burger-line:nth-child(2) {
        opacity: 0;
      }
    }

    &:focus,
    &:hover {
      outline: transparent;

      .header__burger-line {
        background-color: $black;
      }
    }

    &:active {
      .header__burger-line {
        background-color: #ffffff;
      }
    }
  }

  &__logo-link {
    margin-right: 115px;
  }

  &__inner {
    position: relative;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: -25px;
  }

  &__address {
    display: flex;
    font-style: normal;
  }

  &__phone {
    padding: 20px 30px;
    border: 2px solid $blue;
    font-weight: 700;
    font-size: 20px;
    color: $blue;
    margin-left: auto;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: #ffffff;
      background-color: $blue;
    }

    &:active {
      color: $blue;
      background-color: #ffffff;
    }
  }

  &__address-item {
    display: flex;
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__info-icon {
    padding: 8px 12px;
    color: $blue;
    min-width: 44px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__address-title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
  }

  &__address-link {
    color: $grey;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $blue;
    }

    &:active {
      color: $black;
    }
  }

  &__menu {
    padding: 30px 40px;
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 55px;
  }

  &__nav-list {
    display: flex;
  }

  &__link {
    color: #ffffff;
    text-transform: uppercase;
    transition: all .5s;
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: 500;

    &--tel {
      color: $blue;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      height: 3px;
      width: 100%;
      transform: scaleX(0);
      background-color: #ffffff;
      transition: all .5s;
    }

    &--active {
      &:after {
        transform: scaleX(1);
      }
    }

    &:hover,
    &:focus {
      outline: transparent;

      &:after {
        transform: scaleX(1);
      }
    }

    &:active {
      color: $black;
    }
  }

  &__nav-item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__form {
    position: relative;
  }

  &__input {
    height: 50px;
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    width: 300px;
    padding-left: 20px;
    padding-right: 50px;
    font-family: Poppins, sans-serif;
    box-shadow: 0 0 0 0 $black;
    transition: all .5s;

    &:focus {
      outline: transparent;
      box-shadow: 0 0 0 5px $black;
    }
  }

  &__submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    color: $blue;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px;
    transition: all .5s;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: transparent;
      transform: scale(1.3);
      color: $black;
    }

    &:active {
      transform: scale(1);
    }
  }
}

.preview {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    display: flex;
    min-height: 680px;
    flex-direction: column;
    justify-content: center;
    max-width: 615px;
  }

  &__title {
    font-size: 60px;
    line-height: 1.15;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
  }

  &__link {
    padding: 15px 30px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    color: $blue;
    border: 2px solid $blue;
    border-radius: 50px;
    margin-right: 30px;
    transition: all .5s;
    background-color: #fffFFF;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      outline: transparent;
      background-color: $blue;
      color: #ffffff;
    }

    &:active {
      background-color: transparent;
      color: $blue;
    }
  }

  &--small {
    font-size: 60px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9e9e9e;
    height: 360px;
  }
}

.information {
  background-color: $blue;
  color: #ffffff;

  &__inner {
    display: flex;
  }

  &__item {
    width: calc(101%/3);
    display: flex;
    padding: 30px 35px;
    justify-content: center;
    align-items: center;

    &:nth-child(2n+2) {
      background-color: #2469ff;
    }
  }

  &__image {
    font-size: 50px;
    margin-right: 20px;
    width: 50px;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  &__text {
    font-style: normal;
  }

  &__link {
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $black;
    }

    &:active {
      color: #ffffff;
    }
  }
}

.appointment {
  padding: 120px 0;
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: contain;

  &--withtext {
    background-color: $bg;

    .appointment {
      &__form-container {
        margin-left: 0;
        margin-right: 70px;
      }

      &__text {
        margin-bottom: 30px;
      }

      &__inner {
        display: flex;
      }
    }
  }

  &__form-container {
    padding: 50px 30px;
    max-width: 490px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    background-color: #ffffff;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #292929;
    text-align: center;
    padding-bottom: 50px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 40px;
      background-color: $blue;
      bottom: 25px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    padding: 0 20px;
    height: 50px;
    border-radius: 50px;
    transition: all .5s;

    &:focus {
      outline: transparent;
      box-shadow: 0 0 0 5px $black;
    }
  }

  &__submit {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 60;
    font-family: Poppins, sans-serif;
    background-color: $blue;
    color: #ffffff;
    border-radius: 50px;
    margin-top: 10px;
    transition: all .5s;
    border: 2px solid $blue;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: transparent;
      color: $blue;
      background-color: #ffffff;
    }

    &:active {
      color: #ffffff;
      background-color: $blue;
    }
  }
}

.select {
  position: relative;

  &__button {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    padding: 0 20px;
    height: 50px;
    border-radius: 50px;
    text-align: left;
    position: relative;
    background-color: #ffffff;
    transition: all .5s;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      border: 5px solid transparent;
      border-top: 5px solid $black;
      right: 10px;
      top: 47%;
    }

    &:focus {
      outline: transparent;
      box-shadow: 0 0 0 5px $black;
    }
  }

  &__option {
    appearance: none;
  }

  &__label {
    padding: 10px 20px;
    transition: all .5s;
    border-bottom: 1px solid #bbbbbb;
    cursor: pointer;

    &:hover,
    &:focus-within {
      color: #ffffff;
      background-color: $blue;
    }

    &--active {
      color: #ffffff;
      background-color: $blue;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__option-container {
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    z-index: 3;

    &--active {
      display: flex;
      max-height: 400px;
    }
  }
}

.title {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;

  &__main {
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin-bottom: 60px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 5px;
      width: 40px;
      background-color: $blue;
      bottom: -27px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__text {
    margin: 0;
    font-size: 18px;
    color: $grey;
  }

  &--special {
    display: flex;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 60px;

    .title {
      &__main {
        max-width: 500px;
        margin-bottom: 0;
        text-align: left;
        padding-right: 40px;
        margin-right: 40px;

        &::after {
          height: 80%;
          width: 5px;
          right: 0;
          top: 50%;
          left: auto;
          transform: translate(0, -50%);
        }
      }

      &__text {
        text-align: left;
      }
    }
  }

  &--special-2 {
    text-align: left;
    max-width: 100%;
    margin-bottom: 0;

    .title {
      &__main {
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 30px;

        &:after {
          left: 0;
          transform: none;
          bottom: 0;
        }
      }
    }
  }
}

.services {
  padding: 120px 0;
  background-color: $bg;

  &--page {
    background-color: #ffffff;

    .services {
      &__item {
        box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    max-width: 350px;
    background-color: #ffffff;
    text-align: center;
    padding: 60px 40px;
    margin: 0 10px 30px;

    &--frameless {
      padding: 0;
      box-shadow: none !important;

      .services {
        &__header-container {
          display: flex;
          margin-bottom: 30px;
        }

        &__image {
          min-width: 70px;
          height: 70px;
          background-size: cover;
          margin: 0 10px 0 0;
        }

        &__name {
          display: flex;
          align-items: center;
          text-align: left;
          margin-bottom: 0;
        }

        &__text {
          text-align: left;
        }
      }
    }
  }

  &__image {
    min-width: 90px;
    height: 90px;
    margin: 0 auto 30px;
  }

  &__name {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
  }

  &__text {
    color: $grey;
    margin: 0;
    line-height: 27px;
  }
}

.doctors {
  padding: 120px 0;

  &__list {
    display: flex;
  }

  &__item {
    max-width: 350px;
    text-align: center;
    box-shadow: 0px 0px 9px 1px rgba(0, 201, 183, 0.1);
    margin: 120px 15px 15px;
    position: relative;
    padding: 100px 40px 40px;
  }

  &__image-container {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid $blue;
    overflow: hidden;
    margin: 0 auto;
    top: -58px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 1px rgba(0, 201, 183, 0.1);
  }

  &__image {
    height: 100%
  }

  &__social-list {
    display: flex;
    justify-content: center;
  }

  &__social-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 35px;
    width: 35px;
    background-color: $blue;
    border-radius: 50%;
    transition: all .5s;

    &--azure {
      background-color: #00aced;
    }

    &--red {
      background-color: #dd5144;
    }

    &:hover,
    &:focus {
      outline: transparent;
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__name {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__post {
    margin-bottom: 20px;
  }

  &__about {
    color: $grey;
    margin-bottom: 20px;
  }
}

.department {
  padding-bottom: 120px;

  &__text {
    color: $grey;
    padding-left: 30px;
  }

  &__button-list {
    justify-content: center;
    margin-bottom: 60px;
    overflow: hidden;
  }

  &__button-item {
    margin: 0 15px;
  }

  &__button {
    padding: 30px 10px;
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.05);
    width: 160px;
    transition: all .5s;
    cursor: pointer;

    &--active {
      background-color: $blue;
      color: #ffffff;
    }
  }

  &__name {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  &__image {
    height: 60px;
    width: 60px;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
  }

  &__item {
    display: flex;
  }

  &__image-container {
    min-width: 540px;
    height: 420px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: 0px 0px 19px 9px rgba(0, 201, 183, 0.1);
  }

  &__bg-image {
    height: 100%;
  }

  &__description {
    padding-top: 30px;
  }

  &__description-title {
    font-size: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__description-text {
    color: $grey;
    margin: 0 0 30px;
  }
}

.feauters {
  &__item {
    padding-left: 24px;
    color: #808080;
    position: relative;
    margin-bottom: 10px;

    &:before {
      content: "\f00c";
      font-family: icomoon;
      position: absolute;
      left: 0;
      color: $blue;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sale {
  padding: 50px 0;
  background-color: $blue;
  color: #ffffff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__description {
    max-width: 720px;
  }

  &__title {
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
  }

  &__text {
    font-weight: 600;
  }

  &__link {
    padding: 15px 40px;
    background-color: #ffffff;
    color: $blue;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      box-shadow: 0 0 0 2px #ffffff;
      background-color: $blue;
      color: #ffffff;
    }

    &:active {
      box-shadow: none;
      background-color: #ffffff;
      color: $blue;
    }
  }
}

.review {
  padding: 120px 0;

  &__list {
    display: flex;
  }

  &__slider {
    overflow: hidden;
  }

  &__text-container {
    margin-top: 25px;
    padding: 90px 40px 50px;
    border-radius: 20px 20px 20px 0;
    margin-bottom: 35px;
    box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.05);
    position: relative;


    &::before {
      content: "\f10d";
      position: absolute;
      font-family: icomoon;
      color: $blue;
      top: 40px;
      left: 40px;
      font-size: 35px;
      font-style: normal;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 20px;
      height: 25px;
      background-color: #e9e9e9;
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }

  &__text {
    max-height: 250px;
    overflow: hidden;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    font-style: italic;
    line-height: 32px;
  }

  &__item {
    max-width: 505px;
  }

  &__author {
    display: flex;
  }

  &__image {
    margin-right: 20px;
  }

  &__name {
    font-weight: 700;
    font-family: Poppins, sans-serif;
    font-size: 22px;
  }

  &__post {
    font-style: italic;
    color: $grey;
  }
}

.slide-container {
  display: flex;
  justify-content: center;
}

.theatre {
  background-color: $bg;
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__video {
    height: 430px;
    min-width: 540px;
    border-radius: 20px;
    background-image: url(../images/theatre/bg.jpg);
    background-size: cover;
    position: relative;
    margin-right: 80px;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85px;
    width: 85px;
    background-color: $blue;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0px 9px #d8d8d8;
    display: flex;
    align-items: center;
    transition: all .5s;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      left: 41%;
      border: 18px solid transparent;
      border-left: 23px solid #ffffff;
      transition: all .5s;
    }

    &:focus,
    &:hover {
      outline: transparent;
      box-shadow: 0 0 0 25px #d8d8d8;
      background-color: #ffffff;

      &:after {
        border-left: 23px solid $blue;
      }
    }

    &:active {
      box-shadow: 0 0 0px 9px #d8d8d8;
      background-color: $blue;

      &:after {
        border-left: 23px solid #ffffff;
      }
    }
  }

  &__text {
    line-height: 27px;
    color: $grey;
    margin: 0 0 40px;
  }

  &__link {
    padding: 15px 40px;
    background-color: $blue;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 60px;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      box-shadow: 0 0 0 2px $blue;
      background-color: #ffffff;
      color: $blue;
    }

    &:active {
      box-shadow: none;
      background-color: $blue;
      color: #ffffff;
    }
  }
}

.plan {
  padding: 120px 0;

  &--bg {
    background-color: $bg;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    min-width: 340px;
    margin: 0 15px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.05);
  }

  &__header {
    height: 150px;
    padding-top: 30px;
    background-color: $blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    margin-bottom: 30px;
  }

  &__advantage-list {
    margin-bottom: 40px;
    padding: 0 40px;
    text-align: left;
  }

  &__advantage-item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    color: $grey;

    &::before {
      position: absolute;
      content: "\f00c";
      color: $blue;
      font-family: icomoon;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 70px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #a3a0a0;
    margin-bottom: 50px;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      border-color: $blue;
      color: $blue;
    }

    &:active {
      border-color: #e5e5e5;
      color: #a3a0a0;
    }
  }

  &__name {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
  }

  &__price {
    font-size: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #ffffff;
    width: fit-content;
    margin: 0 auto;
    position: relative;

    &:after {
      position: absolute;
      content: "$";
      font-weight: normal;
      left: -12px;
      top: 8px;
      font-size: 20px;
      font-family: Poppins, sans-serif;
    }
  }

  &__postfix {
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
  }
}

.statistic {
  padding: 70px 0;
  background-color: $bg;

  &__item {
    max-width: 200px;
    width: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__counter {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 30px;
  }

  .running-numbers {
    margin-bottom: 10px;
    color: #ffffff;

    &__number {
      width: fit-content;
      margin: 0 auto;
    }
  }

  &__counter-container {
    margin: 0 auto;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 50%, 75% 100%, 25% 100%, 0 50%, 0 50%);
    height: 90px;
    width: 100px;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__name {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }
}

.news {
  padding: 120px 0 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    max-width: 350px;
    margin: 0 10px 30px;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
  }

  &__image-link {
    display: block;
    position: relative;

    &:hover,
    &:focus {
      outline: transparent;

      .news__image {
        transform: scale(1.1);
      }
    }

    &:active {
      .news__image {
        transform: scale(1);
      }
    }
  }

  &__image-container {
    height: 270px;
    overflow: hidden;
    margin-bottom: 50px;
  }

  &__date {
    padding: 10px 20px;
    background-color: $blue;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -20px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
  }

  &__image {
    max-width: 350px;
    height: 270px;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
  }

  &__description {
    padding: 0 28px 30px;
  }

  &__author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: $grey;
  }

  &__title {
    display: block;
    margin-bottom: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 22px;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $blue;
    }

    &:active {
      color: #777777;
    }
  }

  &__text {
    margin-bottom: 35px;
    color: $grey;
  }

  &__link {
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid #e5e5e5;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #777777;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      border-color: $blue;
      color: $blue;
    }

    &:active {
      color: #777777;
      border-color: #e5e5e5;
    }
  }
}

.footer {
  position: relative;
  padding-top: 70px;
  color: #ffffff;
  overflow: hidden;
  margin-top: 190px;

  &__sponsor-container {
    position: relative;
    top: -252px;
    margin-bottom: -150px;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    padding: 0 32px;
  }

  &__sponsor-list {
    display: flex;
    align-items: center;
    padding: 50px 30px;
    background-color: $blue;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      border-bottom: 67px solid #1744a6;
      border-right: 32px solid transparent;
      top: 0;
      right: -31px;
    }

    &:before {
      content: "";
      position: absolute;
      border-bottom: 67px solid #1744a6;
      border-left: 32px solid transparent;
      top: 0;
      left: -31px;
    }
  }

  &__sponsor {
    margin: 0 40px;
    width: calc(100%/4);
  }

  &__image {
    height: 30px;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__inner {
    padding-top: 185px;
    padding-bottom: 100px;
    background-color: #262229;
  }

  &__title {
    font-family: Poppons, sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &::after {
      content: "";
      height: 4px;
      width: 40px;
      background-color: $blue;
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  &__item {
    max-width: 160px;
    width: 100%;
    margin: 0 10px 30px;

    &--lg {
      max-width: 380px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    padding: 8px 0 8px 20px;
    display: block;
    transition: all .5s;
    position: relative;

    &:hover,
    &:focus {
      outline: transparent;
      color: $blue;

      &:before {
        color: #ffffff;
        background-color: $blue;
      }
    }

    &:active {
      color: #ffffff;

      &:before {
        color: $black;
        background-color: #ffffff;
      }
    }

    &:before {
      content: "\f054";
      font-family: icomoon;
      color: $black;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      height: 13px;
      width: 13px;
      font-size: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      border-radius: 50%;
      transition: all .5s;
    }
  }

  &__rights {
    height: 60px;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.breadcrumps {
  background-color: #f4f4f4;
  padding: 25px 0;
  color: $grey;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding-right: 20px;
    margin-right: 10px;
    position: relative;

    &--home {
      &:after {
        content: "\f015";
        font-family: icomoon;
        left: -23px;
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        color: $blue;
        font-size: 16px;
      }
    }

    &:before {
      content: "\f101";
      position: absolute;
      font-family: icomoon;
      font-size: 16px;
      right: 0;
      top: 50%;
      transform: translate(0, -51%);
    }

    &:last-child {
      &:before {
        content: "";
      }
    }
  }

  &__link {
    font-weight: 700;
    transition: all .5s;

    &:hover,
    &:focus {
      outline: transparent;
      color: $blue;
    }

    &:active {
      color: $grey;
    }
  }
}

.provide {
  padding: 120px 0;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  &__title {
    .title__main {
      min-width: 560px;
    }
  }


  &__inner {
    display: flex;
  }

  &__slider {
    min-width: 540px;
    max-width: 540px;
    height: 420px;
    background-color: #9e9e9e;
    border-radius: 10px;
    position: relative;
    margin-right: 50px;
    overflow: hidden;
  }

  .slider__translatex {
    height: 100%;
  }

  &__button {
    position: absolute;
    top: 50%;
    height: 55px;
    width: 50px;
    background-color: #ffffff;
    color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, -50%);
    left: 10px;
    border-radius: 10px;
    border: none;
    transition: all .5s;
    z-index: 1;
    cursor: pointer;

    &--next {
      left: auto;
      right: 10px;
    }

    &:hover,
    &:focus {
      outline: transparent;
      color: #ffffff;
      background-color: $blue;
    }

    &:active {
      color: $blue;
      background-color: #ffffff;
    }
  }

  &__text {
    margin-bottom: 30px;
  }
}

.expirience {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__progress-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__progress-name {
    display: flex;
    justify-content: space-between;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
  }

  &__progress-counter {
    color: $blue;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__image-container {
    min-width: 560px;
    max-width: 560px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
  }

  &__image {
    height: 250px;
    width: 250px;
    margin: 0 15px 30px;
    object-fit: cover;
  }

  &__progress {
    width: 100%;
    appearance: none;
    position: relative;
    height: 10px;
    display: block;

    &::-webkit-progress-value {
      background-image: -webkit-linear-gradient(45deg, transparent 33%, $blue 33%, $blue 66%, transparent 66%);
      background-color: #2356c0;
      border-radius: 15px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    &::-webkit-progress-bar {
      background-image: -webkit-linear-gradient(45deg, transparent 33%, #7599e4 33%, #7599e4 66%, transparent 66%);
      background-color: #6488d2;
      border-radius: 15px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }
  }
}

.newsletter {
  background-color: $blue;
  text-align: center;
  padding: 70px 0;

  &__title {
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
  }

  &__form {
    position: relative;
    max-width: 920px;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    display: block;
    box-shadow: 0 0 0 0 $black;
    transition: all .5s;
    padding: 0 120px 0 20px;


    &:focus,
    &:hover {
      outline: transparent;
      box-shadow: 0 0 0 5px $black;
    }

    &:active {
      box-shadow: 0 0 0 0 $black;
    }
  }

  &__submit {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    padding: 0 40px;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: $blue;
    transition: all .5s;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: transparent;
      color: $black;
    }

    &:active {
      color: $blue;
    }
  }
}

@import "media";